<h1>User login!!</h1>
<form action="/users/create-session" method="post">
    <input type="text" name="name" placeholder="Enter Name" required>
    <input type="password" name="password" placeholder="Enter Password">
    <input type="submit" value="Sign-In"> 
</form>